body{
  padding-bottom: 4em;
}

.main-green{
  color: #28a745;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.hidden {
  display:none!important;
}

.dropdown-menu a {
  cursor: default;
}

.dropdown-menu .nav-link {
  padding: 0 0 0 0;
}

.navbar-dark .navbar-nav .nav-link .dropdown-item ,
.navbar-dark .navbar-nav .nav-link:hover .dropdown-item {
  color: black;
  cursor: pointer;
}

.navbar-dark .navbar-nav .nav-link.active .dropdown-item{
  color: green;
}

.navbar-dark .navbar-nav .nav-link:focus .dropdown-toggle {
  color: rgba(255,255,255,.5);
}

.navbar-dark .navbar-nav .show>.nav-link:focus .dropdown-toggle {
  color: rgba(255,255,255,.75);
}

.importSummary > .modal-content {
  background-color: #d4edda;
}

.isInvalid .react-select__value-container {
  border: 1px solid #dc3545;
  padding-right: 2.25rem;
  background-repeat: no-repeat;
  border-radius: .25rem;
  background-position: center right calc(2.25rem / 4);
  background-size: calc(2.25rem / 2) calc(2.25rem / 2);
  background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
}

.isValid .react-select__value-container {
  border: 1px solid #28a745;
  padding-right: 2.25rem;
  border-radius: .25rem;
  background-repeat: no-repeat;
  background-position: center right calc(2.25rem / 4);
  background-size: calc(2.25rem / 2) calc(2.25rem / 2);
  background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
}

.react-select__control {
  border: 1px solid #ced4da;
  color: #495057;
  border-color: #ced4da!important;
}

.react-select__placeholder {
  color: #495057!important;
}
.vis-item.green {
      background-color: lightgreen;
      border-color: black;
}

.vis-item.red {
       background-color: red;
       border-color: black;
       color: white
}

.vis-item.orange {
      background-color: orange;
      border-color: black;
      color: white
}

.vis-item.gray {
      background-color: lightgray;
      border-color: black;
      color: black
}

.vis-time-axis .vis-grid.vis-odd {
      background: #f5f5f5;
}

.vis-label .vis-inner {
  height: 120px;
}

 .menu {
    position: relative;
    margin: 5px;
 }

.vis-item .vis-onUpdateTime-tooltip {
  width: fit-content!important;
  text-align: left!important;
}

.vis-item:hover .vis-onUpdateTime-tooltip{
  visibility: visible;
}

.vis-item:active .vis-item-visible-frame .vis-onUpdateTime-tooltip{
  visibility: hidden;
}

.vis-item-visible-frame .vis-onUpdateTime-tooltip{
  visibility: hidden;
}

.vis-item:hover {
  cursor: pointer;
}

.list-group-item-danger #schedule_sku_name:hover,
.list-group-item-success #schedule_sku_name:hover,
.list-group-item-warning #schedule_sku_name:hover {
  cursor:pointer;
  text-decoration: underline;
}

.disabled-mline {
  background-color: rgba(193, 188, 188, 0.2)
}

.modal-xl {
    width: 100%
}

.modal-tall {
    min-height: 500px
}
